name: Test-CI

on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test-job1:
    name: Test job1
    outputs:
      "data-linux-amd64": ${{ steps.step1.outputs.data_linux-amd64 }}
      "data-linux-arm64": ${{ steps.step1.outputs.data_linux-arm64 }}
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - platform: linux/amd64
            platform_id: linux-amd64
            runner: ubuntu-24.04
          - platform: linux/arm64
            platform_id: linux-arm64
            runner: ubuntu-24.04-arm

    steps:
      - id: step1
        run: |
          echo "data_${{ matrix.platform_id }}=${{ matrix.platform }}" >> "$GITHUB_OUTPUT"

      - run: |
          env | sort

  test-job2:
    name: Test job2
    runs-on: ubuntu-latest
    needs:
      - test-job1

    steps:
      - run: |
          echo '${{ toJSON(needs.test-job1.outputs) }}'
